header {
    border-bottom: 1px solid #ECECEC;
    position: relative;
}
.container.nav {
    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;

    }
}

.nav__button {
    @media screen and (max-width: 767px) {
        position: absolute;
        top: 22px;
        right: 23px;
        display: inline-flex;
        margin: 0;
        padding: 0;
        border: none;
        background-color: transparent;
        fill: currentColor;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.nav__icon-close {
    display: none;
}
.is-open .nav__icon-close {
    display: block;
}
.is-open .nav__icon-menu {
    display: none;
}

.nav__menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 796px;
    background-color: #fff;
    box-shadow: 0 1 3 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2 4 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 4 8 0 rgba(0, 0, 0, 0.04);

    &.is-open {
        display: block;
    }
}
